name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
          cache: npm

      - name: Install root dependencies
        run: npm install

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build
